@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, rgba(8, 150, 208, 1) 0%, rgba(7, 15, 12, 1) 94%);
  color: white;
}

::-webkit-scrollbar {
    display: none;
} 

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

.header{
    background-color: rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
}

.header h1 {
  font-family: 'Satisfy', cursive;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.auth-buttons {
  display: flex;
  gap: 1.25rem;
}

.auth-buttons button {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.auth-buttons button:hover {
  animation: shake 0.5s ease-in-out;
  background: linear-gradient(90deg, rgba(31, 77, 11, 1) 0%, rgba(171, 143, 17, 1) 30%, rgba(241, 255, 0, 1) 100%, rgba(35, 180, 42, 1) 100%);
}

.homePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.homePage .content {
  max-width: 50%;
  text-align: center;
}

.homePage h1 {
  font-size: 2.5rem;
  font-family: 'Satisfy', cursive;
}

.homePage p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.homeImg img {
  width: 100%;
  max-width: 500px;
}

.gif {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}

.myVideo {
  width: calc(25% - 1rem); /* Make each video take up 25% of the container width */
  max-width: 100%;
}
.gif video{
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .homePage {
    flex-direction: column;
    text-align: center;
  }

  .homePage .content {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .homePage h1 {
    font-size: 2rem;
  }

  .homePage p {
    font-size: 1rem;
  }

  .nav-links {
    gap: 1rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .auth-buttons button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }

  .auth-buttons {
    flex-direction: column;
    gap: 0.75rem;
  }

  .auth-buttons button {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
  }

  .myVideo {
    width: 100%;
    margin: 1rem 0;
  }

  .homePage h1 {
    font-size: 1.75rem;
  }

  .homePage p {
    font-size: 0.875rem;
  }
}
